<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/student.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <!-- TopBAr CSS -->
    <link rel="stylesheet" href="/assets/css/topbar.css">
    <!-- Sidebar CSS -->
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <title>
        <%= title%>
    </title>
</head>

<body>
    <div class="student-page-container">
        <%- include('_topNavbar') %>

            <div class="add-student-container">
                <%- include('_sideNavbar') %>

                    <div class="students-list-container">
                        <div class="add-student">
                            Add a Student
                        </div>

                        <ul class="students-box">

                            <% for(let student of students) {%>
                                <li class="student-container">
                                    <i class="bi bi-arrow-right-circle-fill" id="<%= student._id %>"></i>
                                    <div class="student-pic">
                                        <img src="/assets/images/anime-boy.jpeg" alt="">
                                    </div>

                                    <div class="student-details">
                                        <h3 class="student-name">
                                            <%= student.name %>
                                        </h3>
                                        <p class="student-age">Age: <%= student.age %>
                                        </p>
                                        <p class="student-batch">Batch: <%= student.batch %>
                                        </p>
                                    </div>

                                </li>
                                <% } %>


                        </ul>
                    </div>
            </div>
    </div>

    <div class="student-form-container">
        <h1>Create Student Form</h1>

        <form action="/employee/students-page/create-student" method="post" class="student-form">

            <i class="bi bi-x-lg"></i>
            <h3>Personal Details</h3>
            <div class="form-data">
                <label for="name" class="form-label">Name: </label>
                <input id="name" type="text" name="name" placeholder="Joe Biden" required />
            </div>
            <div class="form-data">
                <label for="gender" class="form-label">Gender: </label>
                <input type="radio" id="male" name="gender" value="Male" class="" required />
                <label for="male" class="small-label">Male</label>

                <input type="radio" id="female" name="gender" value="Female" class="" required />
                <label for="female" class="small-label">Female</label>
            </div>
            <div class="form-data">
                <label for="dob" class="form-label">Date of Birth:</label>
                <input type="date" name="dob" id="dob" required />
            </div>
            <div class="form-data">
                <label for="age" class="form-label">Age: </label>
                <input id="age" type="number" name="age" placeholder="99" max="50" min="15" required/>
            </div>
            <h3>Academic Details</h3>
            <div class="form-data">
                <label for="college" class="form-label">College: </label>
                <input type="text" name="college" placeholder="IIT" id="college" required />
            </div>
            <div class="form-data">
                <label for="batch" class="form-label">Batch: </label>
                <input type="number" name="batch" placeholder="2020" id="batch"  required/>
            </div>
            <div class="form-data">
                <label for="dsa-score" class="form-label">DSA-Score: </label>
                <input type="number" name="dsaScore" placeholder="Score out of 100" id="dsa-score" required/>
            </div>
            <div class="form-data">
                <label for="webD-score" class="form-label">WebD-Score: </label>
                <input type="number" name="webDScore" placeholder="Score out of 100" id="webD-score" required />
            </div>
            <div class="form-data">
                <label for="reactScore" class="form-label">React-Score: </label>
                <input type="number" name="reactScore" placeholder="Score out of 100" id="reactScore" required />
            </div>

            <button type="submit" class="create-student-btn">Create Student</button>
        </form>
    </div>

    <div class="student-details-container">
        <i class="bi bi-x-lg close-detail"></i>
        <div class="profile-pic">
            <img src="/assets/images/anime-boy.jpeg" alt="">
        </div>

        <h1 class="selected-student-name">
            Ashis Kumar Yadav
        </h1>
        <div class="personal-info info-box">
            <h3>Personal Details</h3>

            <div><strong>Gender:</strong> <span class="student-gender-detail"></span></div>
            <div><strong>Date of Birth:</strong> <span class="student-dob-detail"></span></div>
            <div><strong>Age:</strong> <span class="student-age-detail"></span></div>
        </div>

        <div class="academic-info info-box">
            <h3>Academic Information</h3>
            <div><strong>College:</strong> <span class="student-college-detail"></span></div>
            <div><strong>Batch:</strong> <span class="student-batch-detail"></span></div>
            <div><strong>DSA Score:</strong> <span class="student-dsaScore-detail"></span></div>
            <div><strong>WebD Score:</strong> <span class="student-webDScore-detail"></span></div>
            <div><strong>React Score:</strong> <span class="student-reactScore-detail"></span></div>

        </div>

        <div class="interviews-info info-box">
            <h3>Interview List</h3>
            <table class="student-interview-table">
                <thead class="interview-list-head">
                    <tr>
                        <th>Company Name</th>
                        <th>Interview Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-body">

                </tbody>

            </table>

        </div>

        <a class="delete-student">Delete Student</a>
    </div>

    <script src="/assets/js/_sidebar.js"></script>
    <script src="/assets/js/student.js"></script>
</body>

</html>